extends  ../_skeleton

//- Includes
block variables
	- var activeCategory = 'pages'
	- var pageName = 'Small Features'

block page
	include ../sections/_header-corporate

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Counters
	section.section.section-lg.text-center
		.container
			h3 Counters
			p: span.text-width-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam.
			.row.row-50
				.col-6.col-md-3
					// Counter Minimal
					article.counter-minimal
						.counter-minimal-icon.fl-bigmug-line-circular220
						.counter-minimal-main: .counter 12
						h5.counter-minimal-title National Partners

				.col-6.col-md-3
					// Counter Minimal
					article.counter-minimal
						.counter-minimal-icon.fl-bigmug-line-graphical8
						.counter-minimal-main: .counter 238
						h5.counter-minimal-title Years of Experience

				.col-6.col-md-3
					// Counter Minimal
					article.counter-minimal
						.counter-minimal-icon.fl-bigmug-line-favourites5
						.counter-minimal-main: .counter 8
						h5.counter-minimal-title Qualified Brokers

				.col-6.col-md-3
					// Counter Minimal
					article.counter-minimal
						.counter-minimal-icon.fl-bigmug-line-user144
						.counter-minimal-main: .counter 54
						h5.counter-minimal-title Qualified Employees


	// Small Features
	include ../sections/_section-small-features

	// Light 4 Column Layout
	section.section.section-lg.text-center
		.container
			h3 Light 4 Column Layout
			p: span.text-width-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam.
			.row.row-50.row-xxl-70.offset-top-2
				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-flag53
						h4.box-light-title Real Estate Advisory
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-equalization3
						h4.box-light-title Transactions
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-video163
						h4.box-light-title Property Investment
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-file69
						h4.box-light-title Valuation Services
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-share27
						h4.box-light-title Client Consulting
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-store10
						h4.box-light-title Property Appraisal
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.box-light-title.fl-bigmug-line-square160
						h4.box-light-title Market Analysis
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-sm-6.col-md-4.col-lg-3
					// Box Light
					article.box-light
						.box-light-icon.fl-bigmug-line-megaphone11
						h4.box-light-title Property Sales
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	// Stroke Icons 3 Column Layout
	section.section.section-lg.bg-gray-100.text-center
		.container
			h3 Stroke Icons 3 Column Layout
			include ../includes/_row-stroke-icons

	// Contact Info
	include ../sections/_section-contact-info

	// Page Footer
	include ../sections/_footer-advanced
	+footer-advanced({
		about: 'inHouse is the largest full-service real estate and property management company. We offer expertise in the marketing and sale of a wide range of properties, including residential real estate, farms and lifestyle blocks, as well as commercial and industrial properties that we hope may interest you.',
		posts: [
			'Real Estate Guide: 7 Important Tips for Buying a Home',
			'Single-Family Homes as a Housing Option for Young Families'
		]
	})