extends  ../_skeleton

//- Includes
block variables
	- var activeCategory = 'pages'
	- var pageName = 'Tables'

block page
	include ../sections/_header-corporate

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	include ../sections/_section-job-positions

	// Page Footer
	include ../sections/_footer-advanced
	+footer-advanced({
		about: 'inHouse is the largest full-service real estate and property management company. We offer expertise in the marketing and sale of a wide range of properties, including residential real estate, farms and lifestyle blocks, as well as commercial and industrial properties that we hope may interest you.',
		posts: [
			'Real Estate Guide: 7 Important Tips for Buying a Home',
			'Single-Family Homes as a Housing Option for Young Families'
		]
	})