section.section.section-lg.text-center
	.container
		h3.wow-outer: span.wow.slideInUp Latest Job Positions
		p.wow-outer: span.text-width-1.wow.slideInDown Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam.
		.table-responsive.wow.fadeIn
			table.table.table-hover.table-job-positions
				thead
					tr
						th
						th Date
						th Company
						th Job Vacancy
						th City
						th Salary
						th Employment

				tbody
					tr
						td
						td: time(datetime='2018') Feb 27, 2018
						td: +png('logo-john-brad-72x48')
						td.position Residential Broker
						td New York
						td $6000
						td Full Time 

					tr
						td: span.icon.icon-md.text-danger.mdi.mdi-fire
						td: time(datetime='2018') Jan 27, 2018
						td: +png('logo-the-oldbrand-62x48')
						td.position Residential Appraiser
						td San Francisco
						td $5500
						td Full Time

					tr
						td
						td: time(datetime='2018') Apr 27, 2018
						td: +png('logo-havana-cabana-72x48')
						td.position Real Estate Agent
						td Chicago
						td $6000
						td Full Time

					tr
						td
						td: time(datetime='2018') Nov 27, 2018
						td: +png('logo-john-brad-72x48')
						td.position Property Manager
						td New York
						td $4000
						td Full Time

					tr
						td
						td: time(datetime='2018') Dec 27, 2018
						td: +png('logo-the-oldbrand-62x48')
						td.position Leasing Consultant
						td Boston
						td $5500
						td Full Time

					tr
						td
						td: time(datetime='2018') Jan 27, 2018
						td: +png('logo-john-brad-72x48')
						td.position Commercial Broker
						td San Diego
						td $6000
						td Full Time

	.wow-outer.button-outer
		a.button.button-lg.button-primary-outline.button-winona.wow.slideInUp(href='careers.html') View all Job Positions
