// Overview
section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6
				h3 Overview
				h4.offset-top-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam. Tortor pretium viverra suspendisse.
				.group.group-middle
					a.button.button-primary.button-winona(href='#our-history' data-waypoint-to='#our-history') View our History
					a.button.button-primary-outline.button-winona(href='careers.html') Join our Team

			.col-md-10.col-lg-6.col-xl-5 
				+png('large-features-1-470x334', 'img-responsive')
