section.section.section-lg.bg-gray-700#our-history
	.container
		// Timeline Classic
		article.timeline-classic
			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-1-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title December 1995
					p.thumbnail-classic-item-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam. Tortor pretium viverra suspendisse.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-2-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title March 2004
					p.thumbnail-classic-item-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam. Tortor pretium viverra suspendisse.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-3-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title April 2010
					p.thumbnail-classic-item-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam. Tortor pretium viverra suspendisse.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-4-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title May 2018
					p.thumbnail-classic-item-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec et odio pellentesque diam. Tortor pretium viverra suspendisse.
